
.container { 
  display: flex;
  justify-content: space-between; 
  padding: 0 20px;
}

 .gender-item {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 40px;
    &.selected {
    outline: 1px solid #000; 
  }
}